<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/stycle.css">
    <title>Enquete</title>
</head>
<body>
    <header>
        <h1>Minor-Web Enquete</h1>
    </header>

    <p>Resultaten:</p>

    <% if (query.vNaam) { %>
        <p id="firstNameA"> Jouw voornaam is: <%= query.vNaam %> </p>
    <% } %>

    <% if (query.aNaam) { %>
        <p> Jouw achternaam is: <%= query.aNaam %> </p>
    <% } %>

    <% if (query.gesl) { %>
        <p> Jouw geslacht is: <%= query.gesl %> </p>
    <% } %>

    <% if (query.c) { %>
        <p> Jouw favoriete kleur is: <%= query.c %> </p>
    <% } %>

    <% if (query.bDate) { %>
        <p> Jouw geboortedatum is: <%= query.bDate %> </p>
    <% } %>

    <% if (query.tel) { %>
        <p> Jouw telefoon nummer is: <%= query.tel %> </p>
    <% } %>

    <% if (query.num) { %>
        <p> Jij gaf BT een cijfer van: <%= query.num %> </p>
    <% } %>

    <% if (query.tArea) { %>
        <p> Jouw feedback was: <%= query.tArea %> </p>
    <% } %>

    <form>
        <input type="submit" value="terug" formaction="/">
    </form>

    <script src="/js/localStorage.js"></script>

    </body>
</html>